# maven
/target
/build.xml
#gradle
/.gradle
/build
/gradle
# netbeans
/nbproject
# intellij
*.iml
*.ipr
*.iws
.idea/
# eclipse
/.classpath
/.project
/.settings
# build files
/build
/bin
/dist
/manifest.mf

javadoc